.Title {
  background-color: var(--white);
  color: var(--darkgray);
  margin: 0;
  padding: 2rem 5% 1rem;
  text-transform: uppercase;
}

.Title.dark {
  background-color: var(--darkgray);
  color: var(--orange);
}

.Characters {
  padding: 1rem 5%;
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  gap: 2rem;
  background-color: var(--white);
}

.Characters.dark {
  background-color: var(--darkgray);
}

.Character {
  display: grid;
  grid-template-columns: 250px 400px;
  background-color: var(--darkgray);
  color: var(--white);
  border-radius: 1rem;
  overflow: hidden;
}

.Character.dark {
  background-color: var(--lightgray);
  color: var(--black);
}

.Character__image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
}

.Character__data {
  position: relative;
  text-align: left;
  padding: 1rem;
}

.Character__data--name {
  font-size: 1.6rem;
  margin: 0;
}

.Character__data--meta {
  margin: 0;
  padding: 0;
}

.Character__data--subtitle {
  color: #9e9e9e;
  margin: 1rem 0 0;
}

.Character__data--value {
  margin: 0;
}

.Character__favButton {
  position: absolute;
  background-color: transparent;
  border: transparent;
  font-size: 1.5rem;
  cursor: pointer;
  top: 1rem;
  right: 1rem;
}
