.Header {
  position: relative;
  padding-top: 6rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 3rem;
  font-weight: bold;
  background-color: var(--white);
  color: var(--black);
}

.Header.dark {
  background-color: var(--black);
  color: var(--white);
}

.Button {
  position: absolute;
  top: 2rem;
  right: 2rem;
  cursor: pointer;
  padding: 1rem;
  background-color: var(--black);
  color: var(--white);
  font-weight: bold;
  border-radius: 1rem;
  border: none;
}

.Button.dark {
  background-color: var(--white);
  color: var(--black);
}
